@page "/login"
@inject NavigationManager navigate
@using RecordManagementSystem.Model

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-container">
                <form @onsubmit="HandleSubmit">
                    <h3>Login</h3>
                    <div class="py-3">
                        <label for="username" class="username">Username:
                            <input type="text" @bind="userModel.Username" />
                        </label>
                    </div>

                    <div class="py-3">
                        <label for="password" class="password">Password:
                            <input type="password" @bind="userModel.Password" />
                        </label>
                    </div>

                    <div class="py-3">
                        <label for="role" class="role">Role:</label>
                        <select @bind="userModel.SelectedRole">
                            @foreach (var role in userModel.Roles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                    </div>

                    <div class="py-3">
                        <button type="submit" class="btn btn-primary mr-2">Login</button>
                        <button class="btn btn-secondary" @onclick="NavigateToSignUp">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    private UserModel userModel = new UserModel();

    private void HandleSubmit()
    {
        if (userModel.Username == "brian" && userModel.Password == "penicilla")
        {
            if (userModel.SelectedRole == "User")
            {
                userModel.Roles = new List<string> { userModel.SelectedRole };
                navigate.NavigateTo("user_profile");
                Console.WriteLine("success");
            }
            else
            {
                Console.WriteLine("failed");
            }
        }
        else if (userModel.Username == "nickojames" && userModel.Password == "pama")
        {
            if (userModel.SelectedRole == "Admin")
            {
                userModel.Roles = new List<string> { userModel.SelectedRole };
                navigate.NavigateTo("admin_profile");
                Console.WriteLine("success");
            }
            else
            {
                Console.WriteLine("failed");
            }
        }
        else
        {
            navigate.NavigateTo("/login");
            Console.WriteLine("failed");
        }
    }

    //method for redirecting in sign up page
    public void NavigateToSignUp()
    {
        navigate.NavigateTo("signup");
    }

}
